/* <style> */
  body {
    background-image: url("./img/blue-white-and-red-poppy-flower-field-712876.jpg");
    background-size: cover;
    /* background-color: orange; */
    margin: 0;
    /* text-align: center; */
  }
.containerish {

}
  .contenedor {
background-color: #E0F2F7;
    display: grid;
    grid-template-rows: 125px 420px 70px 600px 70px;
    margin: 20px;
  border-radius: 15px;
  }

.titulo-ppal {
  background-color: rgba(139,151,253,100);
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: rgb(245,244,233,100);
  /* margin: 40px; */
  /* display: inline-block; */
}
.modelo-netlogo {
    background-color: rgb(252,215,132,100);
}
.titulo-codigo-nettango {
  background-color: rgb(129,217,221,100);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: rgb(42,13,94,100);
  text-align: center;
}
.titulo-codigo-netlogo {
  background-color: #E0F2F7;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}
.codigo-netlogo {
  background-color: #E0F2F7;
  border-radius: 15px;

}

.canvas-codigo-nettango {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* overflow:scroll; */
  overflow-y: scroll;
}

#recompile-button {
  margin: 150px auto;
  width: 200px;
  height: 55px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #6b9bc3;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #E0F2F7;
  text-align: center;
}
.overlay {
  position:sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: none;
}

.nt-canvas {
  background-color: #fef9f6;
  margin: 20px 0 0 40px;
  border: 1px solid #aaa;
}
.nt-container {
  display: inline-block;
  overflow-y: scroll;
  height: 600px;
}
.trashcan {
  opacity: 0.8;
  color: #E0F2F7;
  position: relative;
  right: 50px;
  bottom: 20px;
}
#netlogo-code {
  margin: 20px;
  min-height: 200px;
  border: 1px solid #555;
  background-color: rgb(252,193,180,100);
  padding: 10px;
  font-size: 15px;
  overflow-y: scroll;
  /* overflow: scroll; */
}
#netlogo-code-link {
  cursor: pointer;
}
.fin {
background-color: rgba(139,151,253,100);
font-family: Poppins, sans-serif;
font-size: 18px;
color: rgb(245,244,233,100);
text-align: center;
/* border-radius: 15px; */
}
